<%- include ("partials/_header") %>

<div class="container">
    <div class="row mt-5">
        
        <div class="col-md-3">
            <h6 style="text-align: center;">FORMULARIO PROVEEDOR</h6>
            <div class="card">
                <div class="card-body">
                    <form action="/add" method="post">
                        <div class="form-group" >
                            <input type="text" name="name" placeholder="NOMBRE" class="form-control">
                        </div>
                        <br>
                        <div class="form-group" >
                            <input type="text" name="address" placeholder="DIRECCIÓN" class="form-control">
                        </div>
                        <br>
                        <div class="form-group" >
                            <input type="text" name="phone" placeholder="TELÉFONO" class="form-control">
                        </div>
                        <br>
                        <div class="form-group" >
                            <input type="text" name="mail" placeholder="CORREO ELECTRÓNICO" class="form-control">
                        </div>
                        <br>
                        <center><button type="submit" class="btn btn-dark"> GUARDAR PROVEEDOR </button></center>
                    </form>
                </div>
            </div>
            
        </div>
        <div class="col-md-9">
            <h6 style="text-align: center;">LISTA DE PROVEEDORES</h6>

            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>DIRECCIÓN</th>
                        <th>TELÉFONO</th>
                        <th>CORREO ELECTRÓNICO</th>
                        <th>ACCIONES</th>
                    </tr>

                </thead>
                <tbody>
                    <% if (data) { %> <% for(var i = 0; i < data.length; i++) {
                        %>
                        <tr>
                          <td><%= data[i].id %></td>
                          <td><%= data[i].name %></td>
                          <td><%= data[i].address %></td>
                          <td><%= data[i].phone %></td>
                          <td><%= data[i].mail %></td>
                          <td>
                            <a href="/update/<%= data[i].id %>" class="btn btn-warning">Actualizar</a>
                            <a href="/delete/<%= data[i].id %>" class="btn btn-danger">Eliminar</a>
                          </td>
                        </tr>
                        <% } %> <% } %>

                </tbody>
            </table>

        </div>
    </div>
</div>

<%- include ("partials/_footer") %>

